.footer {
    text-shadow: 0 1px 1px #FFF;
    color: #9F9F9F;
    font-size: 10px;
    text-align: center;
}

.footer-link, .footer-link:hover {
    color: #9F9F9F;
    text-decoration: none;
    display: inline-grid;
}